[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
